.dark-medium-contrast {
  --md-sys-color-primary: rgb(254 216 127);
  --md-sys-color-surface-tint: rgb(231 194 108);
  --md-sys-color-on-primary: rgb(49 36 0);
  --md-sys-color-primary-container: rgb(173 141 61);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(237 218 181);
  --md-sys-color-on-secondary: rgb(46 36 12);
  --md-sys-color-secondary-container: rgb(159 143 110);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(197 229 192);
  --md-sys-color-on-tertiary: rgb(17 43 19);
  --md-sys-color-tertiary-container: rgb(122 153 120);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 19 11);
  --md-sys-color-on-background: rgb(235 225 212);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(77 70 57);
  --md-sys-color-on-surface-variant: rgb(230 219 201);
  --md-sys-color-outline: rgb(187 177 160);
  --md-sys-color-outline-variant: rgb(152 143 127);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 225 212);
  --md-sys-color-inverse-on-surface: rgb(46 41 33);
  --md-sys-color-inverse-primary: rgb(91 69 0);
  --md-sys-color-primary-fixed: rgb(255 223 153);
  --md-sys-color-on-primary-fixed: rgb(24 16 0);
  --md-sys-color-primary-fixed-dim: rgb(231 194 108);
  --md-sys-color-on-primary-fixed-variant: rgb(70 51 0);
  --md-sys-color-secondary-fixed: rgb(244 224 187);
  --md-sys-color-on-secondary-fixed: rgb(24 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(215 197 160);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 53 27);
  --md-sys-color-tertiary-fixed: rgb(203 235 198);
  --md-sys-color-on-tertiary-fixed: rgb(0 22 3);
  --md-sys-color-tertiary-fixed-dim: rgb(175 207 171);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 60 34);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(73 68 58);
  --md-sys-color-surface-container-lowest: rgb(10 7 3);
  --md-sys-color-surface-container-low: rgb(33 29 21);
  --md-sys-color-surface-container: rgb(44 39 31);
  --md-sys-color-surface-container-high: rgb(55 50 41);
  --md-sys-color-surface-container-highest: rgb(66 61 52);
}
